*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    display: grid;
    place-items: center;
    height: 100vh;
    background: #f2f8ff;
    padding: 0;
    margin: 0;
}
#container
{
    height: 400px;
    width: 400px;
    background: rgb(93, 120, 157);
    border: 1px solid;
    position: relative;
}
#container h2
{
    color: #86ecf0;
    font-size: 50px;
    position: absolute;
    top: 8%;
    left: 25%;
}
#container h1
{
    width: 123px;
    height: 127px;
    text-align: center;
    font-size: 110px;
    position: absolute;
    top: 30%;
    left: 35%;
    color: #3ddcef;
}
#buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons button
{
    height: 50px;
    width: 80px;
    background: #bac5db;
    outline: none;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #191c21;
    cursor: pointer;
}
#increment
{
    position: absolute;
    display: inline-block;
    bottom: 20%;
    right: 25%;
}
#decrement
{
    position: absolute;
    display: inline-block;
    bottom: 20%;
    left: 25%;
}
#reset
{
    position: absolute;
    display: inline-block;
    bottom: 5%;
    justify-content: center;
}